<div class="sidebar">
  <!-- <div class="container sidebar-sticky"> -->
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <!-- {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %} -->
      <a class="sidebar-nav-item{% if page.url == {{ 'index.html' | relative_url }} %} active{% endif %}" href="{{ 'index.html' | relative_url }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'research.html' | relative_url }} %} active{% endif %}" href="{{ 'research.html' | relative_url }}">Research</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'publications.html' | relative_url }} %} active{% endif %}" href="{{ 'publications.html' | relative_url }}">Publications</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'seminars.html' | relative_url }} %} active{% endif %}" href="{{ 'seminars.html' | relative_url }}">Seminars</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'events.html' | relative_url }} %} active{% endif %}" href="{{ 'events.html' | relative_url }}">Events</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'activities.html' | relative_url }} %} active{% endif %}" href="{{ 'activities.html' | relative_url }}">Activities</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'projects.html' | relative_url }} %} active{% endif %}" href="{{ 'projects.html' | relative_url }}">Projects</a>
      <a class="sidebar-nav-item{% if page.url == {{ site.repo }} %} active{% endif %}" href="{{ site.repo }}">Repository</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'contact.html' | relative_url }} %} active{% endif %}" href="{{ 'contact.html' | relative_url }}">Contact</a>
      <a class="sidebar-nav-item{% if page.url == {{ 'fvlib.html' | relative_url }} %} active{% endif %}" href="{{ 'fvlib.html' | relative_url }}"><span style="color:yellow">FVLib code</span></a>
      <a class="sidebar-nav-item{% if page.url == {{ 'alga.html' | relative_url }} %} active{% endif %}" href="{{ 'alga.html' | relative_url }}"><span style="color:yellow">ALGA book</span></a>
      <a class="sidebar-nav-item{% if page.url == {{ 'projects/simpro.html' | relative_url }} %} active{% endif %}" href="{{ 'projects/simpro.html' | relative_url }}"><span style="color:yellow">SIMPRO project</span></a>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
